body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #006eff;
    color: #fdf8f8;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para el contenido principal */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #faf9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para los enlaces */
  /* a { 
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para las listas */
  /*ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Estilos para las imágenes */
  /*img {
    max-width: 100%;
    height: auto;
  } */